<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/petshome/plantilla/petshome-plantilla}">
<head>
<meta charset="UTF-8">
<title th:text="${tituloPagina}"></title>
</head>
<body>

	<!--  Start code -->
	<div layout:fragment="ContenidoPetsHome">
		<!-- Vertical Form -->

		<div class="col-12 btncancel">
			<a class="btn btn-primary" th:href="@{/listarTipoAnimal}"> <i
				class="bi bi-house-door"></i>
			</a>
		</div>

		<form class="row g-3" th:action="@{/insertarTipoAnimal}"
			th:object="${tipoAnimalForm}" method="POST">

			<input th:field="*{id}" type="hidden" class="form-control" id="id">

			<div class="col-12">
				<label for="descripcionTipo" class="form-label">Animal</label> <input
					th:field="*{descripcionTipo}" type="text" required
					class="form-control" id="tipoanimal">
			</div>
			<div class="col-12" >
				<label for="descripcionTipo" class="form-label">Raza</label> <select
					th:field="*{fkRaza}" th:class="form-select"
					aria-label="Tipo Animal" th:id="fkRaza">
					<th:block th:each="tmp :  ${listadoRaza}">
						<option th:text="${tmp.detalleRaza}" th:value="${tmp.idRaza}"></option>
					</th:block>
				</select>
			</div>

			<div class="col-12" th:if="*{id}!=0">
				<label for="estado" class="form-label" >Estado</label> <select
					th:field="*{estado}" class="form-select"
					aria-label="Default select example">
					<option value="A" >Activo</option>
					<option value="N">No disponible</option>
				</select>
			</div>


			<div class="text-center">
				<button type="submit" class="btn btn-primary">Submit</button>

				<button type="reset" class="btn btn-secondary">Reset</button>
			</div>
		</form>

	</div>
	<!--  End code -->
</body>

</html>